/* CSS for the vertical scrollbar
.scroll-section-outer {
  position: relative;
  overflow: hidden;
  
  width: 100%;
  height: 500px;
}

.scroll-section-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.vertical-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  background-color: #edf0f3;
  cursor: pointer;
  z-index: 9999; 
} */
